{% extends 'layout.html.twig' %}

{% block page_title %}{{ room.name }}{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto">

        <h1>Modifier la salle {{ room.name }}</h1>

        {#{{ include('room/_form.html.twig', {'button_label': 'Mettre à jour'}) }}#}

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div style="position: relative;">
            <button class="btn btn-info">Mettre à jour</button>
        {{ form_end(form) }}

            <button type="button" class="btn btn-info"><a href="{{ path('room_index') }}" style="color: #fff;">Retour à la liste</a></button>
            {{ include('room/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
