{% extends 'layout.html.twig' %}

{% block page_title %}Salle {{ room.name }}{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto mt-4">

        <h1>Modifier la salle {{ room.name }}</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.name) }}

        {{ form_row(form.capacity) }}

        {{ form_errors(form.features) }}

        <div class="form-group">
            {{ form_label(form.features) }}
            {% set salle = form.vars.value %}
            {% for feature in form.features %}
                {{ form_widget(feature) }}
            {% endfor %}
        </div>

        {{ form_row(form.picture) }}

        <button class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Enregistrer">
            <i class="fas fa-check"></i>
        </button>
        <button type="button" class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Retour">
            <a href="{{ path('room_index') }}" style="color: #fff;">
                <i class="fas fa-chevron-left"></i>
            </a>
        </button>

        {{ form_end(form) }}

        <form id="form" method="post"
              action="{{ path('room_delete', {'id': room.id}) }}"
              style="position: relative;float: right;bottom: 38px;">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
            <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Supprimer">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>

    </div>

    {% include 'components/_confirm_modal.html.twig' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.css" integrity="sha256-Kq686ftxGamHGd8MpwJXmYgk1s7m00maEfHX1VpKYP8=" crossorigin="anonymous" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        /* On empêche Bootstrap d'afficher le bouton File Input dans le bloc Dropify */
        .custom-file-label {
            display: none;
        }
    </style>
{% endblock %}

{% set modal_message = 'Voulez-vous vraiment supprimer la salle ' ~ room.name ~ ' ?' %}

{% for unavailability in room.unavailabilities %}

    {% if date() < unavailability.startDate %}
        {% set modal_message = 'Des réunions à venir sont organisées dans la salle ' ~ room.name ~
            '. Si vous la supprimez, ces réunions seront également supprimées.' %}
    {% endif %}

{% endfor %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });

        $('#confirmationMessage').text('{{ modal_message }}');
        $('.modal-title').text('Supprimer la salle');
        $('#form').click(function(e) {
            e.preventDefault();
            $('#confirmationModal').modal({});

            $('#confirm').on("click", function () {
                $('#form').submit();
                $("#confirmationModal").modal('hide');
            });

            $("#cancel").on("click", function(){
                $("#confirmationModal").modal('hide');
            });
        });

        // Customisation des checkboxes
        $('.form-check').addClass('custom-control custom-checkbox');
        $('.form-check-input').addClass('custom-control-input');
        $('.form-check-label').addClass('custom-control-label');
    </script>
{% endblock %}

