{% extends 'layout.html.twig' %}

{% set active = 'salles' %}

{% block title %}Room index{% endblock %}

{% block content %}
    <div class="jumbotron col-md-9 mx-auto">
        <h1 class="display-3">Nos salles de réunion</h1>
        <hr>
            <div class="row text-center">
                {% for room in rooms %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="https://pictures.bureauxapartager.com/381cb905-5ed1-4f57-b745-e04a8d8650df/-/resize/1540x/" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text">{{ room.features ? room.features|join(', ') : '' }}</p>
                                <a href="{{ path('room_show', {'id': room.id}) }}" class="btn btn-info">Voir</a>
                                <a href="{{ path('room_edit', {'id': room.id}) }}" class="btn btn-secondary">Modifier</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <hr>
        <p class="lead mx-auto">
            <a class="btn btn-warning btn-lg" href="{{ path('room_new') }}" role="button">Créer une nouvelle salle</a>
        </p>
    </div>



{% endblock %}
