{% extends 'layout.html.twig' %}

{% block title %}Nos salles{% endblock %}

{% block content %}
    <div class="jumbotron col-md-9 mx-auto">
        <h1 class="display-3">Nos salles de réunion</h1>
        <hr>
            <div class="row text-center">
                {% for room in rooms %}
                    <div class="col-lg-3 col-md-6 mb-4" style="position:relative;">
                        <div class="card mb-3" style="max-width: 18rem;">
                            <a href="{{ path('room_show', {'id': room.id}) }}"><img class="card-img-top" src="https://pictures.bureauxapartager.com/381cb905-5ed1-4f57-b745-e04a8d8650df/-/resize/1540x/" alt="Card image cap"></a>
                            <div class="card-body">
                                <a href="{{ path('room_show', {'id': room.id}) }}"><h2 class="card-title">{{ room.name }}</h2></a>
                                <p class="card-text">{{ room.capacity }} places</p>
                                <p class="card-text">{{ room.features ? room.features|join(', ') : '' }}</p>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('room_edit', {'id': room.id}) }}" class="btn btn-warning" style="position:absolute;top:0;right:0;"><i class="fas fa-edit"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <hr>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
            <p class="lead mx-auto">
                <a class="btn btn-warning btn-lg" href="{{ path('room_new') }}" role="button">Créer une nouvelle salle</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
