{% extends 'layout.html.twig' %}

{% block page_title %}Nos salles{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4">

        <div class="row">
            <h1 class="col-sm-9">Nos salles de réunion</h1>

            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                 <div class="col-sm-3">
                    <button class="btn btn-info float-right" data-toggle="tooltip" data-placement="top" title="Ajouter une salle">
                        <a class="text-white" href="{{ path('room_new') }}"><i class="fas fa-plus"></i></a>
                    </button>
                </div>
            {% endif %}
        </div>

        <hr>
            <div class="row text-center">
                {% for room in rooms %}
                    <div class="col-lg-3 col-md-6 mb-4" style="position:relative;">
                        <div class="card mb-3" style="max-width: 18rem;">
                            <a href="{{ path('room_show', {'id': room.id}) }}"><img class="card-img-top" src="https://pictures.bureauxapartager.com/381cb905-5ed1-4f57-b745-e04a8d8650df/-/resize/1540x/" alt="Card image cap"></a>
                            <div class="card-body">
                                <a href="{{ path('room_show', {'id': room.id}) }}"><h2 class="card-title" style="font-size: 1.5rem;">{{ room.name }}</h2></a>
                                {#<p class="card-text"><i class="fas fa-user" style="font-size:1.5rem"></i>&nbsp&nbsp<span class="badge badge-light">{{ room.capacity }}</span></p>#}
                                <p class="card-text"><i class="fas fa-user" style="font-size:1.3rem"></i>&nbsp<sup style="font-size: 1rem;">{{ room.capacity }}</sup></p>
                                <p class="card-text">{{ room.features ? room.features|join(', ') : '' }}</p>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('room_edit', {'id': room.id}) }}" class="btn btn-info" style="position:absolute;top:0;right:0;"><i class="fas fa-edit"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <hr>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
