{% extends 'layout.html.twig' %}

{% block page_title %}Salle {{ room.name }}{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto" style="position: relative">

        <h1>Salle {{ room.name }}</h1>

        <div class="btn-group" role="group" style="position: absolute;right: 2rem;top: 4.5rem;">
            <a href="{{ path('room_index') }}" style="color: #fff;">
                <button type="button" class="btn btn-info" style="width: 45px;">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
            <a href="{{ path('room_edit', {'id': room.id}) }}" style="color: #fff;">
                <button type="button" class="btn btn-info" style="width: 45px;margin-left: 5px;">
                    <i class="fas fa-edit"></i>
                </button>
            </a>
            <form method="post" action="{{ path('room_delete', {'id': room.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de la salle ?');" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
                <button class="btn btn-warning" style="width: 45px;margin-left: 5px;">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Capacité</th>
                    <td>{{ room.capacity }}</td>
                </tr>
                <tr>
                    <th>Options</th>
                    <td>{{ room.features ? room.features|join(', ') : '' }}</td>
                </tr>
            </tbody>
        </table>

        {% include '@FullCalendar/Calendar/calendar.html.twig' %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src='{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}'></script>
    <script>
        $(function () {
            $('#calendar-holder').fullCalendar({
                locale: 'fr',
                header: {
                    left: 'prev, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, next'
                },
                lazyFetching: true,
                navLinks: true,
                slotDuration: '00:15:00',
                weekends: false,
                minTime: '08:00:00',
                maxTime: '20:00:00',
                selectable: true,
                selectOverlap: false,
                select: function(startDate, endDate) {
                    confirm('Réserver la salle pour la période de ' + startDate.format() + ' à ' + endDate.format() + ' ?');
                },
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                                'id': {{ room.id }}
                            }
                        },
                        error: function () {
                            alert('There was an error while fetching FullCalendar!');
                        }
                    }
                ],
                timeFormat: 'H(:mm)' // uppercase H for 24-hour clock
            });
        });
    </script>
{% endblock %}
