{% extends 'layout.html.twig' %}

{% block page_title %}Salle {{ room.name }}{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4" style="position: relative">

        <h1>Salle {{ room.name }}</h1>

        <div class="btn-group" role="group" style="position: absolute;right: 2rem;top: 4.5rem;">
            <a href="{{ path('room_index') }}" style="color: #fff;">
                <button type="button" class="btn btn-info" style="width: 45px;">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('room_edit', {'id': room.id}) }}" style="color: #fff;">
                    <button type="button" class="btn btn-info" style="width: 45px;margin-left: 5px;">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
                <form method="post" action="{{ path('room_delete', {'id': room.id}) }}"
                      onsubmit="return confirm('Confirmez-vous la suppression de la salle {{ room.name }} ?');" style="display: inline-block;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
                    <button class="btn btn-warning" style="width: 45px;margin-left: 5px;">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            {% endif %}
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Capacité</th>
                    <td>{{ room.capacity }}</td>
                </tr>
                <tr>
                    <th>Options</th>
                    <td>{{ room.features ? room.features|join(', ') : '' }}</td>
                </tr>
            </tbody>
        </table>

        {% include '@FullCalendar/Calendar/calendar.html.twig' %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src='{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}'></script>
    <script>
        $(function () {
            $('#calendar-holder').fullCalendar({
                locale: 'fr',
                now: '{{ "now"|date("m/d/Y H:i") }}',
                header: {
                    left: 'today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, prev, next'
                },
                businessHours: {
                    start: "{{ constant('App\\Entity\\Unavailability::DAY_START') }}",
                    end: "{{ constant('App\\Entity\\Unavailability::DAY_END') }}",
                    dow: [1, 2, 3, 4, 5]
                },
                lazyFetching: true,
                navLinks: true,
                defaultView: 'agendaWeek',
                slotDuration: '00:15:00',
                weekends: false,
                minTime: "{{ constant('App\\Entity\\Unavailability::DAY_START') }}",
                maxTime: "{{ constant('App\\Entity\\Unavailability::DAY_END') }}",
                nowIndicator: true,
                validRange: function(nowDate) {
                    return {
                        // On n'autorise la réservation qu'à partir du jour courant
                        start: nowDate.clone().add(-1, 'days'),
                    };
                },
                selectable: true,
                selectOverlap: false,
                select: function(startDate, endDate) {
                    if (startDate < $('#calendar-holder').fullCalendar('getDate')) {
                        alert('L\'heure de début que vous avez sélectionnée est passée');
                    } else {
                        // On fixe l'heure de début mini et l'heure de fin maxi.
                        const start = parseInt(startDate.format("{{ constant('App\\Entity\\Unavailability::DAY_START') }}"))
                        <= parseInt(startDate.format('HH')) ?
                            startDate.format('DD/MM/YYYY HH:mm') : startDate.format('DD/MM/YYYY ' +
                                '{{ constant('App\\Entity\\Unavailability::DAY_START') }}');

                        const end = parseInt(startDate.format("{{ constant('App\\Entity\\Unavailability::DAY_START') }}"))
                        <= parseInt(endDate.format('HH')) && parseInt(endDate.format('HH'))
                        <= parseInt(endDate.format("{{ constant('App\\Entity\\Unavailability::DAY_END') }}")) ?
                            endDate.format('DD/MM/YYYY HH:mm') : endDate.format('DD/MM/YYYY ' +
                                '{{ constant('App\\Entity\\Unavailability::DAY_END') }}');

                        // On demande une confirmation à l'utilisateur
                        const confirmation = confirm('Réserver la salle {{ room.name }} pour la période du '
                            + start + ' au '
                            + end + ' ?');

                        if (true === confirmation) {
                            window.location.href = '{{ path('unavailability_new') }}'
                                + '?startDate=' + encodeURIComponent(start)
                                + '&endDate=' + encodeURIComponent(end)
                                + '&roomId={{ room.id }}';
                        }
                    }
                },
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                                'id': {{ room.id }}
                            }
                        },
                        error: function () {
                            alert('L\'affichage du calendrier a renvoyé une erreur !');
                        }
                    }
                ],
                timeFormat: 'H(:mm)' // uppercase H for 24-hour clock
            });
        });
    </script>
{% endblock %}
