{% extends 'layout.html.twig' %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4">

        {% include '@FullCalendar/Calendar/calendar.html.twig' %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src='{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}'></script>

    <script type="text/javascript">
        $(function () {
            $('#calendar-holder').fullCalendar({
                locale: 'fr',
                header: {
                    left: 'prev, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, next'
                },
                lazyFetching: true,
                navLinks: true,
                defaultView: 'basicWeek',
                eventLimit: true,
                eventLimitText: "de plus",
                slotDuration: '00:15:00',
                slotLabelInterval: '00:15:00',
                weekends: false,
                minTime: '08:00:00',
                maxTime: '20:00:00',
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                            }
                        },
                        error: function () {
                            alert('L\'affichage du calendrier a renvoyé une erreur !');
                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}