{% extends 'layout.html.twig' %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-5">

        {% include '@FullCalendar/Calendar/calendar.html.twig' %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <style>
        .fc-today {
            background: #45585055 !important;
            /*border: none !important;*/
            /*border-top: 1px solid #ddd !important;*/
            /*font-weight: bold;*/
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src='{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}'></script>

    <script type="text/javascript">
        $(function () {
            $('#calendar-holder').fullCalendar({
                locale: 'fr',
                themeSystem: 'bootstrap4',
                header: {
                    left: 'today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, prev, next'
                },
                lazyFetching: true,
                navLinks: true,
                // defaultView: 'basicWeek',
                eventLimit: true,
                eventLimitText: "de plus",
                slotDuration: '00:15:00',
                weekends: false,
                minTime: "{{ constant('App\\Entity\\Unavailability::DAY_START') }}",
                maxTime: "{{ constant('App\\Entity\\Unavailability::DAY_END') }}",
                eventSources: [
                    {
                        url: '/fc-load-events',
                        type: 'POST',
                        data: {
                            filters: {
                            }
                        },
                        error: function () {
                            alert('L\'affichage du calendrier a renvoyé une erreur !');
                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}