{% extends 'layout.html.twig' %}

{% block page_title %}Historique{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto">

    <h1>Historique de l'occupation des salles</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Salle</th>
                    <th>Organisateur</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Invités</th>
                    <th>Objet</th>
                    <th>Type</th>
                    <th>Voir</th>
                </tr>
            </thead>
            <tbody>
            {% for unavailability in unavailabilities %}
                <tr>
                    <td><a href="{{ path('room_show', {'id': unavailability.room.id}) }}">{{ unavailability.room.name }}</a></td>
                    <td>{{ unavailability.organiser.firstName ~ ' ' ~ unavailability.organiser.lastName }}</td>
                    <td>{{ unavailability.startDate ? unavailability.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ unavailability.endDate ? unavailability.endDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ unavailability.guests ? unavailability.guests|join(', ') : '' }}</td>
                    <td>{{ unavailability.object }}</td>
                    <td>{{ unavailability.type }}</td>
                    <td>
                        <a href="{{ path('unavailability_show', {'id': unavailability.id}) }}"><i class="far fa-eye"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun enregistrement disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock %}
