{% extends 'layout.html.twig' %}

{% block page_title %}Historique{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4">

        {% if is_granted('ROLE_ADMIN') %}
            <h1>Historique de l'occupation des salles</h1>
        {% else %}
            <h1>Vos réunions</h1>
        {% endif %}
        {% if unavailabilities is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Objet</th>
                    <th>Salle</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Organisateur</th>
                    {% endif %}
                    <th>Début</th>
                    <th>Fin</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Type</th>
                    {% endif %}
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            {% for unavailability in unavailabilities %}
                <tr {{ unavailability.startDate < date() ? 'class="table-active "' : '' }}>
                    <td>{{ unavailability.object }}</td>
                    <td>{{ unavailability.room.name }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ unavailability.organiser.firstName ~ ' ' ~ unavailability.organiser.lastName }}</td>
                    {% endif %}
                    <td>Le {{ unavailability.startDate ? unavailability.startDate|date('d/m/Y à H:i') : '' }}</td>
                    <td>Le {{ unavailability.endDate ? unavailability.endDate|date('d/m/Y à H:i') : '' }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ unavailability.type == 0 ? 'Réunion' : 'Autre' }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('unavailability_show', {'id': unavailability.id}) }}">
                            <i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="Voir"></i>
                        </a>
                        {% if date() < unavailability.startDate %}
                        <a href="{{ path('unavailability_edit', {'id': unavailability.id}) }}">
                            <i class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top" title="Editer"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="lead">Vous n'avez encore organisé aucune réunion.</p>
        {% endif %}
    </div>

{% endblock %}
