{% extends 'layout.html.twig' %}

{% block page_title %}Réservation{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto">

    <h1>Réservation</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Objet</th>
                    <td>{{ unavailability.object }}</td>
                </tr>
                <tr>
                    <th>Organisateur</th>
                    <td>{{ unavailability.organiser.firstName ~ ' ' ~ unavailability.organiser.lastName }}</td>
                </tr>
                <tr>
                    <th>Salle</th>
                    <td><a href="{{ path('room_show', {'id': unavailability.room.id}) }}">{{ unavailability.room.name }}</a></td>
                </tr>
                <tr>
                    <th>Début</th>
                    <td>{{ unavailability.startDate ? unavailability.startDate|date('d/m/Y H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin</th>
                    <td>{{ unavailability.endDate ? unavailability.endDate|date('d/m/Y H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Invités</th>
                    <td>{{ unavailability.guests ? unavailability.guests|join(', ') : '' }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>Type</th>
                        <td>{{ unavailability.type == 0 ? 'Réunion' : 'Autre' }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <a href="{{ path('unavailability_index') }}">Retour</a>

        <a href="{{ path('unavailability_edit', {'id': unavailability.id}) }}">Modifier</a>

        {{ include('unavailability/_delete_form.html.twig') }}

    </div>

{% endblock %}
