{% extends 'layout.html.twig' %}

{% block page_title %}Réservation{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4">

    <h1>Réservation</h1>

        <div class="btn-group" role="group" style="position: absolute;right: 2rem;top: 4.5rem;">
            <a href="{{ path('unavailability_index') }}" style="color: #fff;">
                <button type="button" class="btn btn-info" style="width: 45px;">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
            {% if is_granted('ROLE_ADMIN') or unavailability.organiser == app.user %}
                {# On n'affiche le bouton Modifier que si la réunion n'a pas encore commencé #}
                {% if date(unavailability.startDate) > date() %}
                    <a href="{{ path('unavailability_edit', {'id': unavailability.id}) }}" style="color: #fff;">
                        <button type="button" class="btn btn-info" style="width: 45px;margin-left: 5px;">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                {% endif %}
                <form id="form" method="post" action="{{ path('unavailability_delete', {'id': unavailability.id}) }}" style="display: inline-block;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unavailability.id) }}">
                    <button class="btn btn-warning" style="width: 45px;margin-left: 5px;">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            {% endif %}

        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Objet</th>
                    <td>{{ unavailability.object }}</td>
                </tr>
                <tr>
                    <th>Organisateur</th>
                    <td>
                        <a href="{{ path('user_show', {'id': unavailability.organiser.id}) }}">
                            {{ unavailability.organiser.firstName ~ ' ' ~ unavailability.organiser.lastName }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Salle</th>
                    <td>
                        <a href="{{ path('room_show', {'id': unavailability.room.id}) }}">
                            {{ unavailability.room.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Début</th>
                    <td>{{ unavailability.startDate ? unavailability.startDate|date('\\L\\e d/m/Y à H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin</th>
                    <td>{{ unavailability.endDate ? unavailability.endDate|date('\\L\\e d/m/Y à H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Invités</th>
                    <td>
                        {% for guest in unavailability.guests %}
                            <a href="{{ path('user_show', {'id': guest.id}) }}">
                                {{ guest.firstName ~ ' ' ~ guest.lastName }}{% if not loop.last %}, {% endif %}
                            </a>
                        {% endfor %}
                    </td>
                    {#<td>{{ unavailability.guests ? guests|join(', ') : '' }}</td>#}
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>Type</th>
                        <td>{{ unavailability.type == 0 ? 'Réunion' : 'Autre' }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    </div>

    {% include 'components/_confirm_modal.html.twig' %}

{% endblock %}

{% set modal_message = 'Voulez-vous vraiment supprimer cette réservation ?' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#confirmationMessage').text('{{ modal_message }}');
        $('.modal-title').text('Supprimer la réservation');
        $('#form').click(function(e) {
            e.preventDefault();
            $('#confirmationModal').modal({});

            $('#confirm').on("click", function () {
                $('#form').submit();
                $("#confirmationModal").modal('hide');
            });

            $("#cancel").on("click", function(){
                $("#confirmationModal").modal('hide');
            });
        });
    </script>
{% endblock %}

