{% extends 'layout.html.twig' %}

{% block page_title %}ReunionIT{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="lead">Vous avez remarqué ?</p>
                <p class="lead font-weight-bolder">Ce qui vous fait perdre le plus de temps, dans une réunion, c'est son organisation.</p>
                <p class="lead">Avec <u>RéunionIT</u>, réservez une salle et conviez les participants en quelques clics.</p>
                <p class="lead">Que vous soyez organisateur ou invité, vous serez informé par email du moindre changement.</p>
            </div>
            <div class="col-12 col-lg-6 text-center text-primary text-secondary text-uppercase">
                <h1 class="display-4 font-weight-bold"><i class="fas fa-fist-raised"></i>
                    <br>
                    Halte à la réunionnite<exp>*</exp>&nbsp!
                </h1>
            </div>
        </div>
        <hr class="mb-4">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_EMPLOYEE') %}
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ path('room_index') }}" role="button">Réserver une salle</a>
                </p>
            {% endif %}
        {% else %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Se connecter</a>
            </p>
        {% endif %}

        <blockquote>* &laquo;&nbsp;Maladie&nbsp;&raquo; de la réunion.<footer class="blockquote-footer">Encyclopædia Universalis</footer></blockquote>

        <div class="col-5 ml-auto">
            <blockquote class="blockquote font-weight-bold">
                <p class="mb-0"><i><span class="h1 text-success">&laquo;</span>&nbsp;RéunionIT est sans conteste la meilleure solution de réservation de salles de réunion de l'univers visible.&nbsp;<span class="h1 text-success">&raquo;</span></i></p>
                <br>
                <footer class="blockquote-footer">Hubert Reeves, <cite title="Source Title">CNRS</cite></footer>
            </blockquote>
        </div>

        {% if is_granted('ROLE_EMPLOYEE') %}
        
        <div class="row">
            <div class="col-12">Actuellement :</div>
            <div class="card text-white bg-info col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ upcomingUnavailabilities }}</h4>
                    <p class="card-text">{{ 1 < upcomingUnavailabilities ? 'réunions programmées' : 'réunion programmée' }}</p>
                </div>
            </div>
            <div class="card text-white bg-success col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ currentAvailableRoomCount }}</h4>
                    <p class="card-text">{{ 1 < currentAvailableRoomCount ? 'salles disponibles' : 'salle disponible' }}</p>
                </div>
            </div>
            <div class="card text-white bg-warning col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ currentUnavailability }}</h4>
                    <p class="card-text">{{ 1 < currentUnavailability ? 'salles occupées' : 'salle occupée' }}</p>
                </div>
            </div>
            <div class="col-12">Nos locaux :</div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ totalRoomCount }}</h4>
                    <p class="card-text">salles de réunion</p>
                </div>
            </div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ roomMaxCapacity }}</h4>
                    <p class="card-text">capacité maximum</p>
                </div>
            </div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ totalCapacity }}</h4>
                    <p class="card-text">capacité totale</p>
                </div>
            </div>
            <div class="col-12">Nos salariés :</div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ lastOrganiser.firstName ~ ' ' ~ lastOrganiser.lastName }}</h4>
                    <p class="card-text">vient de réserver une salle</p>
                </div>
            </div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ lastMonthOrganiser.firstName ~ ' ' ~ lastMonthOrganiser.lastName }}</h4>
                    <p class="card-text">est l'organisateur du mois dernier</p>
                </div>
            </div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">{{ lastMonthGuest.firstName ~ ' ' ~ lastMonthGuest.lastName }}</h4>
                    <p class="card-text">est l'invité du mois dernier</p>
                </div>
            </div>
        </div>
        {% else %}
            <hr>
            <div class="mt-3">
                Pour en savoir plus sur ce service, écrivez à
                <a href="mailto:margouillat.reunion.it@gmail.com">
                    margouillat.reunion.it@gmail.com
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
