<table class="table">
    <thead>
    <tr>
        <th>Objet</th>
        <th>Salle</th>
        <th>Début</th>
        <th>Fin</th>
        {% if is_granted('ROLE_ADMIN') %}
            <th>Type</th>
        {% endif %}
        <th> </th>
    </tr>
    </thead>
    <tbody>
    {% if unavailabilitiesAsOrganiser_pager is not empty %}
        {% for unavailability in unavailabilitiesAsOrganiser_pager %}
            <tr {{ unavailability.startDate < date() ? 'class="table-active "' : '' }}>
                <td>{{ unavailability.object }}</td>
                <td>{{ unavailability.room.name }}</td>
                <td>Le {{ unavailability.startDate ? unavailability.startDate|date('d/m/Y à H:i') : '' }}</td>
                <td>Le {{ unavailability.endDate ? unavailability.endDate|date('d/m/Y à H:i') : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ unavailability.type == 0 ? 'Réunion' : 'Autre' }}</td>
                {% endif %}
                <td class="last-column">
                    <a href="{{ path('unavailability_show', {'id': unavailability.id}) }}" style="text-decoration: none;">
                        <i class="far fa-eye" data-toggle="tooltip" data-placement="top" title="Voir" ></i>
                    </a>
                    {% if date() < unavailability.startDate %}
                        <a href="{{ path('unavailability_edit', {'id': unavailability.id}) }}">
                            <i class="fas fa-user-edit ml-2" data-toggle="tooltip" data-placement="top" title="Editer"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">Aucune réservation enregistrée.</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% if unavailabilitiesAsOrganiser_pager.haveToPaginate %}

    <ul class="pagination">

        <li class="page-item{{ unavailabilitiesAsOrganiser_pager.getCurrentPage() == 1 ? ' disabled' : '' }}">
            <a class="page-link" onclick="loadUnavailabilityAsOrganiserPage({{ unavailabilitiesAsOrganiser_pager.getCurrentPage() -1 }})"><i class="fas fa-angle-left"></i></a>
        </li>

        {% for givenPage in 1..unavailabilitiesAsOrganiser_pager.getNbPages() %}
            <li class="page-item{{ unavailabilitiesAsOrganiser_pager.getCurrentPage() == givenPage ? ' active' : '' }}">
                <a class="page-link" onclick="loadUnavailabilityAsOrganiserPage({{ givenPage }})">{{ givenPage }}</a>
            </li>
        {%  endfor %}

        <li class="page-item{{ unavailabilitiesAsOrganiser_pager.getCurrentPage() == unavailabilitiesAsOrganiser_pager.getNbPages() ? ' disabled' : '' }}" >
            <a class="page-link" onclick="loadUnavailabilityAsOrganiserPage({{ unavailabilitiesAsOrganiser_pager.getCurrentPage() +1}})"><i class="fas fa-angle-right"></i></a>
        </li>
    </ul>

{% endif %}
