{% extends 'layout.html.twig' %}

{% block page_title %}Modifier{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto">

        <h1>Modifier l'utilisateur</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Enregistrer"><i class="fas fa-check"></i></button>
        <button type="button" class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Retour"><a href="{{ path('user_index') }}" style="color: #fff;"><i class="fas fa-chevron-left"></i></a></button>
        {{ form_end(form) }}

        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" style="position: relative;float: right;bottom: 38px;">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
            <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
        </form>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
