{% extends 'layout.html.twig' %}

{% block page_title %}Membres{% endblock %}

{% block content %}
    <div class="jumbotron col-md-9 mx-auto">

        <div class="row">
            <h1 class="col-sm-10">Utilisateurs</h1>

            <div class="col-sm-2">
                <button class="btn btn-info float-right" data-toggle="tooltip" data-placement="top" title="Ajouter un membre">
                    <a class="text-white" href="{{ path('user_new') }}"><i class="fas fa-user-plus"></i></a>
                </button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|join(', ')|role_format : '' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-eye" data-toggle="tooltip" data-placement="top" title="Voir"></i></a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit" data-toggle="tooltip" data-placement="top" title="Editer"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun utilisateur trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
