{% extends 'layout.html.twig' %}

{% block page_title %}User{% endblock %}

{% block content %}
    <div class="jumbotron col-md-9 mx-auto">

        <h1>{{ user.firstName ~' '~ user.lastName }}</h1>

        <table class="table">
            <tbody>
                {#<tr>#}
                    {#<th>FirstName</th>#}
                    {#<td>{{ user.firstName }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>LastName</th>#}
                    {#<td>{{ user.lastName }}</td>#}
                {#</tr>#}
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|join(', ') |role_format : '' }}</td>
                </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_index') }}">Liste des utilisateurs</a>

            <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
