<p>Bonjour {{ guest.firstName }}, la réunion organisée le {{ data.startDate|date('d/m/Y', "Europe/Paris") }} en salle {{ data.room.name }} par {{ data.organiser.firstName ~ ' ' ~ data.organiser.lastName }} a été modifiée.</p>

<p>Vous pouvez consulter les nouveaux détails sur <a href="{{ absolute_url(path('unavailability_show', {'id':data.id})) }}">ce lien</a>.</p>

<p>A très vite !</p>

<p>Rémi et Pascal.</p>

<p>
    <img src="{{ absolute_url(asset('images/template-gecko.svg')) }}">
</p>